node-red_userdir/flows.json
[{"id":"9d8345dd.ebca28","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"75e0e295.07567c","type":"inject","z":"9d8345dd.ebca28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["af68b82b.a6ef18"]]},{"id":"3be629c6.d65c06","type":"debug","z":"9d8345dd.ebca28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":140,"wires":[]},{"id":"72e6bca4.674704","type":"function","z":"9d8345dd.ebca28","name":"","func":"msg.payload = \"abc\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["1ab204a.bef08fb","63e5b83e.472bb8"]]},{"id":"5fefd7e4.afbe78","type":"http in","z":"9d8345dd.ebca28","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":220,"y":240,"wires":[["72e6bca4.674704"]]},{"id":"1ab204a.bef08fb","type":"debug","z":"9d8345dd.ebca28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":260,"wires":[]},{"id":"63e5b83e.472bb8","type":"http response","z":"9d8345dd.ebca28","name":"","statusCode":"","headers":{},"x":560,"y":340,"wires":[]},{"id":"4ea74e21.40514","type":"http request","z":"9d8345dd.ebca28","name":"","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":140,"wires":[["3be629c6.d65c06"]]},{"id":"af68b82b.a6ef18","type":"function","z":"9d8345dd.ebca28","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":120,"wires":[["4ea74e21.40514"]]}]